html, body {
    max-width: 100%;
    overflow-x: clip;
}
body {
    background-color: coral;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
}
/* Track */
::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#grad {
    background-image: linear-gradient( pink, #db6c6c);
    margin-left: -10px;
}